body {
  background-color: #141414;
  color: white;
  padding: 0 40px;
}

.movie-box {
  font-weight: bold;
  position: relative;
  transform: all 0.2s ease-in;
}

.movie-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.movie-box:hover .box {
  opacity: 1;
}

.movie-box img {
  height: 450px;
  width: auto;
}

.box {
  position:absolute;
  padding: 15px;
  width: 100%;
  height: 100%;
  opacity: 0;
 top:0;
  background-color: rgba(0,0,0,0.8);
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
}

